# This requirements.txt file is intended to hold packages that we want installed directly onto the system - not packages
# that are part of the brewpi-django project proper
pyserial
psutil
simplejson
configobj
gitpython
zeroconf

